*
    box-sizing: border-box
body
    +reg
    font-size: 16px
    line-height: 21px
    color: $text-color
img
    max-width: 100%
.container
    width: 1170px
    margin: auto
.title
    font-size: 20px
    line-height: 27px