*
    box-sizing: border-box
body
    +reg
    font-size: 16px
    line-height: 21px
    color: $text-color
img
    max-width: 100%
.container
    max-width: 1170px
    width: 96%
    margin: auto
.title
    display: flex
    font-size: 20px
    line-height: 27px
    text-transform: uppercase
    &:before
        content: ''
        height: 20px
        width: 10px
        background: #104e99
        margin-right: 10px
.tab
    display: flex
    justify-content: space-between
    max-width: 990px
    padding: 14px
    border: 2px solid $tab-off
    &-link
        margin-right: 20px
        &__button
            border: none
            margin-bottom: 10px
            width: 385px
            height: 96px
            &.active
                background: $tab-on
        &s
            display: flex
            flex-direction: column
            margin-right: 10px

    &-item
        animation: fadeEffect 2s;
        &s
            flex-basis: 70%
        &__image
           max-width: 100%
           min-height: 100%
        &__p
            margin-top: 3px;